@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500;600;700&family=Playfair+Display:wght@500;600&family=Lato:wght@400;700&display=swap');

/* =====================
   BASE
===================== */
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: "Lato", sans-serif;
    color: #1f2937;
    background-color: #e8f2ff;
}

* {
    box-sizing: border-box;
}

/* =====================
   TIPOGRAFIA GLOBAL
===================== */

h1 {
   font-family: "Cormorant Garamond", serif;
    font-size: clamp(36px, 5vw, 56px);
    letter-spacing: clamp(2px, 0.8vw, 8px);
    font-weight: 600;
}


h2{
    font-size: clamp(2rem, 4vw, 2.8rem);
    font-family: Manrope;
    margin: 8px 0 ;
    font-weight: 500;
}

h3 {
    font-family: "Playfair Display", serif;
    font-weight: 600;
     font-size: clamp(18px, 2vw, 22px);
}

p, a, span {
    font-family: "Manrope", sans-serif;
}
p{  
    font-family: "Manrope", sans-serif;
    font-size: clamp(15px, 1.3vw, 17px);
    line-height: 1.6;
}

/* =====================
   LAYOUT GERAL
===================== */
main {
    padding-top: 60px;
}

section {
    scroll-margin-top: 10px;
    width: 100%;
    padding: clamp(25px, 3vw, 60px) 0;
    min-height: 80vh;
    margin : 4px ;
}

/* =====================
   NAVBAR
===================== */
.navbar {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    width: calc(100% - 30px);
    height: clamp(55px, 6vw, 65px);

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 clamp(18px, 4vw, 60px);

    z-index: 1000;

    backdrop-filter: blur(10px);
    border-radius: 20px;

    background-color: rgba(245, 249, 255, 0.75);
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.navbar h1 {
    white-space: nowrap;
}

.nav-links {
    display: flex;
    gap: clamp(16px, 2vw, 28px);
}

.nav-links a {
    color: black;
    font-size: 15px;
    text-decoration: none;
    font-weight: 500;

    padding: 6px 8px;
    border-radius: 8px;

    transition: 0.3s;
}

.nav-links a:hover {
    background-color: #3b82f6;
    color: white;
}

/* =====================
   BOTÕES
===================== */
.menu_btn {
    display: none;
}


/* =====================
BENEFICIOS
===================== */

.container_flex_titulos {
    display: flex ;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 4px 0;
    /* border: red solid 2px ; */
  
}
.container_flex_titulos p{
    transform: translateX(-10px);
    margin-bottom: 0;
    font-size: 18px;
}

.container_flex_titulos h2{
    margin-top: 4px;
}

.grid_beneficios{
    display: grid ;
    grid-template-columns: repeat(auto-fit , 240px ); 
    justify-content: center;
    padding: 16px ;
    gap:32px ;
    margin: 8px 0 0 0;
    /* border: red solid 2px ; */
}

.card_beneficios{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding: 16px;

    width: 240px;
    height: 340px;
    border-radius: 12px;
    border: 1px solid #5F7D95;

    
}


.card_beneficios p {
    font-size: 1.0rem;
    color: #222 ;
    line-height: 1.6;
    font-weight: 400;
    letter-spacing: 0.2px;
}

.imagem_beneficio {
    position: relative;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.imagem_beneficio::before {
  content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        to top,
        rgba(255, 255, 255, 0.4),
        rgba(255, 255, 255, 0.1)
    );
    z-index: 0;
}

.imagem_beneficio > * {
    position: relative;
    z-index: 1;
}

.servico_personalizado_url{
    background-image: url("../img/beneficios/servico_personalizado.jpg");
   
}
.produtos_premium_url{
    background-image: url("../img/beneficios/produtos_premium.jfif");
}
.bioseguranca_rigorosa_url{
    background-image: url("../img/beneficios/bioseguranca.png");
}
.ambiente_sofisticado_url{
    background-image: url("../img/beneficios/ambiente_sofisticado.png");
}

.icone_beneficio{
    line-height: 0;
    width: 45px;
    height: 45px;

    
    border-radius: 50%;
    
    background-color: #F8FAFC; /* azul bem clarinho */
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 0 auto 10px;
}


.icone_beneficio svg{
    width: 30px;
    height: 30px;
    display: block;
    stroke-width: 2;
    overflow: visible;
}





/* =====================
SERVIÇOS
===================== */
.container_geral {
    width: min(95%, 1200px);
    margin-top: 0;
    margin: 0 auto;
    padding: 8px 24px; 

}

.cards-servicos-grid {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 32px;
    justify-content: center;
    margin-top: 28px;
    padding: 8px ;
    /* border: blue solid 2px ; */
}

.card-servico {
    background-color: #dbe8f6;
    border: 1px solid rgba(22, 66, 122, 0.12);
    box-shadow: 0 8px 25px rgba(15, 47, 95, 0.08);
    
    border-radius: 12px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    padding: 16px 0;
    position: relative;
    /* border: red solid 2px ; */
}

.card-servico img {
    width: 180px;
    height: 200px;
    margin-bottom: 28px;
    
    border-radius: 15px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
    object-fit: cover;
}

.card-servico::before {
    content: "";
    position: absolute;
    top: 40px;
    right: 0;
    
    width: 28px;
    height: 12px;
    background-color: #16427a;
}

.btn-servico {
    margin-top: auto;
    display: inline-block;
    
    padding: 14px 32px;
    background-color: #16427a;
    color: white;
    
    text-decoration: none;
    font-weight: 600;
    
    border-radius: 8px;
    transition: 0.3s;
}

.btn-servico:hover {
    background-color: #0f2f5f;
    transform: translateY(-2px);
}

.container_geral h3{
    font-family: Manrope;
    letter-spacing: 1.8px;
    margin-bottom: 0;
}

/* =====================
GALERIA
===================== */

.container_geral_galeria {
    width: 100vw;
    margin: 0 auto;
    padding: 32px 24px; 
    /* border: solid 2px black ; */


}

.container_flex_titulos_galeria {
    display: flex ;
    flex-direction: column;
    align-items: center;
    text-align: center;
  
}
.container_flex_titulos_galeria h3{
    font-family: Manrope;
    letter-spacing: 1.8px;
    margin-bottom: 0;
}

.container_flex_titulos_galeria h2{
    font-size: 2.8rem;
    font-family: Manrope;
    margin: 8px 0
}

h2 span {
    color: #607D8B;
    font-weight: 300;
}
.container_carrossel{
    width: 100%;
    padding: 2px ;
    overflow: hidden;
    margin-top: 4px;
}


.track{
    display: flex;
    padding: 12px ;
    flex-wrap: nowrap;


    animation: scroll 40s linear infinite;
    width: max-content;
}

.card_imagem_galeria{
    border-radius: 24px;
    flex: 0 0 240px;
    height: 320px;
    margin-right: 18px;
    overflow: hidden ;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card_imagem_galeria:hover {
    transform: translateY(-6px);
    box-shadow: 0 18px 40px rgba(0,0,0,.12);
}

.card_imagem_galeria img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform .6s ease;
}
.card_imagem_galeria:hover img {
    transform: scale(1.03);
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}
/* =====================
Depoimentos
===================== */

.flex_depoimentos{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap: 30px ;
    flex-wrap: wrap;
    /* border: red solid 2px ; */

}

.card_depoimento{
    background: white;
    display: flex;
    flex-direction: column;
    gap:16px ;

    box-shadow:  0 10px 35px rgba(0,0,0,.08);

    border-radius: 24px;
    padding: 26px 30px;

    width: 380px ;
    min-height: 155px;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}
.card_depoimento:hover{
    transform: translateY(-4px);
    box-shadow: 0 14px 35px rgba(0, 0, 0, 0.10);
}
.estrelas{
    text-align: center;
    font-size: 20px;
}


.card_depoimento h3{
    margin: 6px 0 0 0 ;
    font-size: 20px;
    font-weight: 600;
    color: #1f1f1f;
}

.card_depoimento p {
    margin: 2px 0 0 0 ;
    font-style: italic;
    color: #555;
    font-size: 16px;
    line-height: 1.6;
}
#span_cursivo{
    font-style: italic;
    font-weight: 200 ;
}



/* =====================
AGENDAMENTO
===================== */

.container_agendamento {
    width: min(90%, 1200px);
    margin: 0 auto;
    padding: 8px 6px;
    /* border: red solid 2px ; */
    
}

.flex_agendamento{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px ;
    /* border: black solid 2px ; */
}

.btn_zap {
    display: inline-flex;
    align-items: center;
    gap: 10px;

    background-color: green;
    border-radius: 50px;
    padding: 20px 18px;
    margin: 42px;
    color: white;
    text-decoration: none; 
}
    

.fa-whatsapp{
    font-size: 28px;
}

.vantagens {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.vantagem {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.material-symbols-outlined {
    font-size: 32px;
    color: #e8a4c4;
}

#agendamento h1
{
    margin-bottom: 0;
}

/* =====================
   SEÇÕES
===================== */
#inicio {
    min-height: 100vh;
    margin-top: -60px;
    padding: 0 ;
    position: relative;
    /* border: yellow solid 2px ; */

}
.hero-img img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center 60%;
  display: block;
}

.hero-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#beneficios {
    background: linear-gradient(
        to bottom,
        #f3f8ff,
        #e8f2ff
    );
    /* border: blueviolet solid 2px ; */
}

#servicos {
    background-color: #e8f2ff;
}

#galeria {
    background-color: #e3efff;
}
#depoimentos {
    background-color:#dcecff;
}

#agendamento {
    background-image: url("../img/fundo_agendamento.png");
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


/* =====================
   RESPONSIVO
===================== */
@media (max-width: 920px) {

    .nav-links {
        display: none;
    }

    .nav-links.ativo {
        display: flex;
        flex-direction: column;
        gap: 12px;

        position: absolute;
        top: 70px;
        right: 20px;

        width: min(220px, 85vw);

        background-color: white;
        padding: 20px;
        border-radius: 12px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    }

    .menu_btn {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 40px;
        height: 40px;

        font-size: 26px;
        line-height: 1;

        background: transparent;
        border: none;
        border-radius: 8px;

        cursor: pointer;
    }

    .menu_btn:hover {
        background-color: rgba(59, 130, 246, 0.1);
    }

    .cards-servicos-grid {
        grid-template-columns: repeat(2, 300px);
    }
}

@media (max-width: 700px) {

    .cards-servicos-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
    }

    .card-servico {
        padding: 18px 10px;
    }

    .card-servico img {
        width: 100px;
        height: 100px;
    }

    .card-servico::before{
        width: 20px;

    }

    .btn-servico {
        padding: 8px 10px;
        font-size: 11px;
    }
    #agendamento {
        background-image: url("../img/foto_fundo_agendamento_mobile.png");
    }
}