<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serviços</title>

    {%load static %}
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'agendamentos/css/style.css' %}">
    <script src="https://unpkg.com/lucide@latest"></script>
</head>
<body>
    <header class="navbar">
        <h2>  Nail Spa  </h2>
        <nav class='nav-links'>
            <a href="#inicio">Início</a>
            <a href="#beneficios">Benefícios</a>
            <a href="#servicos">Serviços</a>
            <a href="#galeria">Galeria</a>
            <a href="#depoimentos">Depoimentos</a>
            <a href="#agendamento">Agendamento</a>
        </nav>

        <button class="menu_btn">☰</button>

    </header>
 
    <main>
        <section id="inicio" >

            <picture class="hero-img">

             <!-- mobile -->
            <source media="(max-width: 768px)" srcset="{% static 'agendamentos/img/foto_inicio_mobile.png' %}" alt="foto_mobile">


             {% if config.foto_inicio and config.ativacao %}
             <img src="{{config.foto_inicio.url}}" alt="imagem inicio">
            {% else %}
              <img src="{% static 'agendamentos/img/imagem_azul_inicio.png' %}" alt="Imagem inicial">

            {% endif %}

            </picture>
          
        </section>

        <section id="beneficios">
            <div class="container">

                <div class= "container_flex_titulos" >
                    <p class="section-label">O padrão NAIL SPA</p> 
                    <h2>Cuidado que faz a <span class="titulo-destaque" >diferença</span></h2>
                </div>

                <div class="grid_beneficios">

                    <div class="card_beneficios imagem_beneficio servico_personalizado_url">

                        <div class="icone_beneficio">
                             <i data-lucide="crown"></i>
                        </div>

                        <h4>Atendimento Personalizado</h4>
                        <p>Cada cliente recebe um cuidado exclusivo, respeitando seu estilo, preferências e necessidades.</p>
                    </div>

                    <div class="card_beneficios imagem_beneficio produtos_premium_url">

                        <div class="icone_beneficio">
                             <i data-lucide="gem"></i>
                        </div>
                        
                        <h4>Produtos Premium</h4>
                        <p>Produtos de alta qualidade e marcas selecionadas para garantir beleza, durabilidade e segurança.</p>
                    </div>
                    
                    <div class="card_beneficios imagem_beneficio bioseguranca_rigorosa_url">
                        
                        <div class="icone_beneficio">
                            <i data-lucide="shield-check"></i>
                        </div>
                        
                        <h4>Biossegurança Rigorosa</h4>
                        <p>Instrumentos esterilizados e protocolos de higiene seguidos em cada atendimento.</p>
                    </div>
                    
                    <div class="card_beneficios imagem_beneficio ambiente_sofisticado_url">
                        
                        <div class="icone_beneficio">
                            <i data-lucide="star"></i>
                        </div>
                        
                        <h4>Ambiente Sofisticado</h4>
                        <p>Um espaço elegante, confortável e acolhedor para transformar cada visita em um momento único</p>
                    </div>
                </div>

            </div>
        </section>

        
        <section id="servicos">

            <div class="container" > 

                <div class="container_flex_titulos">
                    <p class="section_label">Serviços</p>
                    <h2>Elegância em detalhes</h2>
                </div>

                <div class="cards_servicos_grid">
             {% for servico in servicos %}
                 <div class="card_servico">

                     {% if servico.foto %}
                         <img 
                            src="{% static 'agendamentos/img/servicos/'|add:servico.foto %}"
                            alt="{{ servico.nome }}"
                         >

                     {% endif %}

                     <h3>{{ servico.nome }}</h3>
                     <p>{{servico.descricao}}</p>
                     <a class="btn-servico" href="#agendamento"> Marque agora </a>
                 </div>

             {% empty %}
                 <p>Nenhum serviço cadastrado ainda.</p>
             {% endfor %}
                </div>
            </div>
        </section>

        <section id="galeria">

            <div class="container  ">
                <div class="container_flex_titulos_galeria">
                    <p class="section-label">Galeria</p> 
                    <h2><span>Conheça</span> nossas artes</h2>
                    <p>Cada detalhe pensado para realçar sua beleza</p>
                </div>

                <div class="container_carrossel">

                    <div class="track">
                        {% for url , alt in dic_galeria_alt.items %}
                            <div class="card_imagem_galeria">
                            <img src= "{% static url %}" alt= {{alt}} >
                            </div>
                        {% endfor %}

                        {% for url , alt in dic_galeria_alt.items %}
                            <div class="card_imagem_galeria">
                            <img src= "{% static url %}" alt= {{alt}} >
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
            
        </section>

    
    <section id='depoimentos'>
        <div class="container container_largo" > 

            <div class="container_flex_titulos_galeria">
                <p class="section-label">Depoimentos</p>
                <h2>Veja o que nossas <span id="span_cursivo">clientes</span> acham</h2>
            </div>
            
            <div class="flex_depoimentos"> 
                <div class="card_depoimento">
                    <div class="estrelas">⭐⭐⭐⭐⭐</div>
                    <p>"A profissional teve muita paciência para entender exatamente o que eu queria. Ficou ainda melhor do que imaginei."</p>
                    <h3>Ana C.</h3>
                </div>

                <div class="card_depoimento">
                    <div class="estrelas">⭐⭐⭐⭐⭐</div>
                    <p>"Foi minha primeira vez e já marquei a próxima. Atendimento excelente e um trabalho impecável."</p>
                    <h3>Juliana M.</h3>
                </div>

                <div class="card_depoimento">
                    <div class="estrelas">⭐⭐⭐⭐⭐</div>
                    <p>"Ambiente aconchegante, atendimento maravilhoso e um resultado que superou minhas expectativas."</p>
                    <h3>Beatriz A.</h3>
                </div>
            </div>

        </div>
    </section>
    
    <section id='agendamento'  >
        
        <div class="container_agendamento" > 
            <div class="flex_agendamento" >
                <h2>Agende seu horário</h2>
                <div class="agendamento_textos">
                    <p>Atendimento rápido e personalizado pelo Whatsapp</p>
                    <p>💬 ⏱️ Respondemos em poucos minutos</p>
                </div>

                <a class="btn_zap" href="https://wa.me/5521978935622?text=Ola, gostaria de marcar um agendamento">
                    <i class="fa-brands fa-whatsapp"></i>
                    Agende pelo Whatsapp
                </a>

                <div class="vantagens">

                    <div class="vantagem">
                        <span class="material-symbols-outlined">bolt</span>
                        <p>Atendimento rápido</p>
                    </div>

                    <div class="vantagem">
                        <span class="material-symbols-outlined">favorite</span>
                        <p>Serviço personalizado</p>
                    </div>

                    <div class="vantagem">
                        <span class="material-symbols-outlined">verified_user</span>
                        <p>Ambiente seguro e acolhedor</p>
                    </div>

                </div>
            </div>
        </div>

           


    </section>
    </main>

    <script>
    const menuBtn = document.querySelector(".menu_btn");
    const navLinks = document.querySelector(".nav-links");

    menuBtn.addEventListener("click", () => {
        console.log("antes:", navLinks.className);
        navLinks.classList.toggle("ativo");
        console.log("depois:", navLinks.className);
        
    });

    window.addEventListener("load", function () {
        const inicio = document.getElementById("inicio");
        if (inicio) {
            inicio.scrollIntoView({ behavior: "smooth" });
        }
    });

    lucide.createIcons();

    const track = document.querySelector(".track");

const imagens = track.querySelectorAll("img");

Promise.all(
    [...imagens].map(img => {
        if (img.complete) return Promise.resolve();

        return new Promise(resolve => {
            img.onload = resolve;
            img.onerror = resolve;
        });
    })
).then(() => {

    const metade = track.scrollWidth / 2;

    let posicao = 0;
    const velocidade = 0.9; // pixels por frame

    function animar() {

        posicao -= velocidade;

        if (Math.abs(posicao) >= metade) {
            posicao = 0;
        }

        track.style.transform = `translateX(${posicao}px)`;

        requestAnimationFrame(animar);
    }

    animar();
});
</script>
</body>
</html>