<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serviços</title>

    {%load static %}
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'agendamentos/css/style.css' %}">
    <script src="https://unpkg.com/lucide@latest"></script>
</head>
<body>
    <header class="navbar">
        <h2>  Nail Spa  </h2>
        <nav class='nav-links'>
            <a href="#inicio">Início</a>
            <a href="#beneficios">Benefícios</a>
            <a href="#servicos">Serviços</a>
            <a href="#galeria">Galeria</a>
            <a href="#depoimentos">Depoimentos</a>
            <a href="#agendamento">Agendamento</a>
        </nav>

        <button class="menu_btn">☰</button>

    </header>
 
    <main>
        <section id="inicio" 
             {% if config.foto_inicio and config.ativacao %}
             style="background-image: url('{{ config.foto_inicio.url }}');"
               {% comment %} <img src="{{ config.foto_inicio.url }}" alt="Foto inicial"> {% endcomment %}
            {% else %}
             style="background-image: url('{% static "agendamentos/img/imagem_inicio_azul_3.png" %}')"
                {% comment %} <img src="{% static 'agendamentos/img/foto_inicio.jpeg' %}" alt="Foto inicial"> {% endcomment %}

            {% endif %}
        >   
        <div class="texto_inicio">   
            {% comment %} <h1>Nail Spa</h1> {% endcomment %}
        </div>
        </section>

        <section id="beneficios">
            <div class="container_geral">

                <div class= "container_flex_titulos" >
                    <p>O padrão NAIL SPA</p> 
                    <h2>Cuidado que faz a diferença</h2>
                </div>

                <div class="grid_beneficios">

                    <div class="card_beneficios imagem_beneficio servico_personalizado_url">

                        <div class="icone_beneficio">
                             <i data-lucide="crown"></i>
                        </div>

                        <h4>Atendimento Personalizado</h4>
                        <p>Cada cliente recebe um cuidado exclusivo, respeitando seu estilo, preferências e necessidades.</p>
                    </div>

                    <div class="card_beneficios imagem_beneficio produtos_premium_url">

                        <div class="icone_beneficio">
                             <i data-lucide="gem"></i>
                        </div>
                        
                        <h4>Produtos Premium</h4>
                        <p>Produtos de alta qualidade e marcas selecionadas para garantir beleza, durabilidade e segurança.</p>
                    </div>
                    
                    <div class="card_beneficios imagem_beneficio bioseguranca_rigorosa_url">
                        
                        <div class="icone_beneficio">
                            <i data-lucide="shield-check"></i>
                        </div>
                        
                        <h4>Biossegurança Rigorosa</h4>
                        <p>Instrumentos esterilizados e protocolos de higiene seguidos em cada atendimento.</p>
                    </div>
                    
                    <div class="card_beneficios imagem_beneficio ambiente_sofisticado_url">
                        
                        <div class="icone_beneficio">
                            <i data-lucide="star"></i>
                        </div>
                        
                        <h4>Ambiente Sofisticado</h4>
                        <p>Um espaço elegante, confortável e acolhedor para transformar cada visita em um momento único</p>
                    </div>
                </div>

            </div>
        </section>

        
        <section id="servicos">
            <div class="container_geral" > 
                <div class="container_flex_titulos">
                    <p>Nossos serviços</p>
                    <h2>Feitos com amor e dedicação.</h2>
                </div>

                <div class="cards-servicos-grid">
             {% for servico in servicos %}
                 <div class="card-servico">

                     {% if servico.foto %}
                         <img 
                            src="{% static 'agendamentos/img/servicos/'|add:servico.foto %}"
                            alt="{{ servico.nome }}"
                         >

                     {% endif %}

                     <h3>{{ servico.nome }}</h3>
                     <p>{{servico.descricao}}</p>
                     <a class="btn-servico" href="#agendamento"> Marque agora </a>
                 </div>

             {% empty %}
                 <p>Nenhum serviço cadastrado ainda.</p>
             {% endfor %}
                </div>
            </div>
        </section>

        <section id="galeria">
            <div class="container_geral_galeria">
                <div class="container_flex_titulos_galeria">
                    <h3>Galeria</h3>
                    <h2><span>Conheça</span> nossas artes</h2>
                    <p>Cada detalhe pensado para realçar sua beleza</p>
                </div>

                <div class="container_carrossel">

                    <div class="track">
                        {% for url , alt in dic_galeria_alt.items %}
                            <div class="card_imagem_galeria">
                            <img src= "{% static url %}" alt= {{alt}} >
                            </div>
                        {% endfor %}

                        {% for url , alt in dic_galeria_alt.items %}
                            <div class="card_imagem_galeria">
                            <img src= "{% static url %}" alt= {{alt}} >
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
            
        </section>

    
    <section id='depoimentos'>
        <br>
        <br>
        <h2>Depoimentos</h2>
        <h3>Veja o que os clientes acham</h3>
    </section>
    
    <section id='agendamento'  >
        
        <div class="container_agendamento" > 
            <div class="flex_agendamento" >
                <h1>Agende seu horário</h1>
                <p>Atendimento rápido e personalizado pelo Whatsapp</p>
                <p>💬 ⏱️ Respondemos em poucos minutos</p>

                <a class="btn_zap" href="https://wa.me/5521978935622?text=Ola, gostaria de marcar um agendamento">
                    <i class="fa-brands fa-whatsapp"></i>
                    Agende pelo Whatsapp
                </a>

                <div class="vantagens">

                    <div class="vantagem">
                        <span class="material-symbols-outlined">bolt</span>
                        <p>Atendimento rápido</p>
                    </div>

                    <div class="vantagem">
                        <span class="material-symbols-outlined">favorite</span>
                        <p>Serviço personalizado</p>
                    </div>

                    <div class="vantagem">
                        <span class="material-symbols-outlined">verified_user</span>
                        <p>Ambiente seguro e acolhedor</p>
                    </div>

                </div>
            </div>
        </div>

           


    </section>
    </main>

    <script>
    const menuBtn = document.querySelector(".menu_btn");
    const navLinks = document.querySelector(".nav-links");

    menuBtn.addEventListener("click", () => {
        console.log("antes:", navLinks.className);
        navLinks.classList.toggle("ativo");
        console.log("depois:", navLinks.className);
        
    });

    window.addEventListener("load", function () {
        const inicio = document.getElementById("inicio");
        if (inicio) {
            inicio.scrollIntoView({ behavior: "smooth" });
        }
    });

    lucide.createIcons();
</script>
</body>
</html>